body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.selected {
  background-color: #282c34 !important;
}

#SelectionMan {
  transition: .5s linear;
}

.reserved {
  background-color: red !important
}

.AdminPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.AdminPageWrapper article {
  display: flex;
  gap: 30px
}

.AdminPageWrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  box-shadow: 1px 1px 5px black;
}

.AdminPageWrapper>div:nth-child(3) {
  background-color: red;
  height: 50px;
}

.AdminPageWrapper>div:nth-child(2):hover {
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

.hovering {
  box-shadow: 1px 1px 10px black;
}